footer {
  background-color: #fcb935;
}

.container-custom {
  background-color: #1a202c;
}

body {
  background-color: #1a202c !important;
}

.contain1 {
  color: white;
  align-items: center;
  font-style: Arial;
}

.containText {
  padding-left: 28px;
  padding-right: 28px;
}

.contain2 {
  color: black;
  background-color: #f1a918;
  padding-left: 25px;
  padding-right: 25px;
}
.contain3 {
  align-items: center;
}

a:link {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.contain3 {
  font-style: Arial;
}





.navbar li {
  padding-right: 17px;
}

.navbar-custom {
  background-color: #fdb82b;
}

.Box1 {
  display: flex;
  align-items: center;
  background: gray.700;
  border-radius: sm;
}

.Button1 {
  background-color: gray.800;
  border-radius: xl;
  border: 1px solid transparent;
  m: 1px;
  px: 3;
  height: 38px;
}
.button1:hover {
  border: 1px;
  border-style: solid;
  border-color: blue.400;
  background-color: gray.700;
}

.Text1 {
  color: white;
  font-size: md;
  font-weight: medium;
  mr: 2;
}

.main-app {
  text-align: center;
  margin: 20px;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.mint-nft-button {
  background: rgb(255, 0, 0);
}

